:host {
    display: block;
    height: 400px;
}


.graph svg {
  width:100%;
  height:100%;
}

.graph {
    width: 100%;
    height: 100%;
}

.node {
  fill: black;
  stroke-width: 3px;
  fill-opacity: .25;
}

.node-root{
  stroke: red;
}
.node-mandatory{
  stroke: orange;
}
.node-optional{
  stroke: green;
}
.node-alternative{
  stroke: blue;
}
.node-or{
  stroke: turquoise;
}


.node-red{
  stroke: red;
  fill: red;
}
.node-green{
  stroke: lightgreen;
  fill: lightgreen;
}




.node text {
    font: 12px sans-serif;
    text-anchor: "middle";
}





.edge {
  fill: none;
  stroke-width: 1px;
  stroke: solid;
  stroke: black;
}

.edge-excludes{
  stroke: rgb(255, 132, 0);
}

.edge-requires{
  stroke: blue;
  stroke-dasharray: 5,5; 
}





.label{
  padding-top: 1000px;
}

.tooltip {
    position: absolute;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;  /* initially hidden */
}