:host {
    display: block;
    height: 400px;
}

#graphContainer {
    width: 100%;
    height: 100%;
}

.node circle {
    fill: #c8e8e7;
    stroke: steelblue;
    stroke-width: 3px;
  }

.node rect {
  fill: #c8e8e7;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
  }

.link {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
  }

.label{
  padding-top: 1000px;
}

.tooltip {
    position: absolute;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;  /* initially hidden */
}