# Compiled Files/
/Code/Z3Parser/Z3Parser/bin
/Code/Z3Parser/Z3Parser/obj

/Code/DiagnosticsApi/DiagnosticsApi/bin
/Code/DiagnosticsApi/DiagnosticsApi/obj

# IDE files
/Code/Z3Parser/.vs
/Code/Z3Parser/.vscode

/Code/DiagnosticsApi/.vs
/Code/DiagnosticsApi/.vscode

/Code/DiagnosticsFrontEnd/.vs
/Code/DiagnosticsFrontEnd/.vscode

/.vscode

## Elfsquad source files
#/Code/Z3Parser/Z3Parser/Elfsquad


